{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include 'navegacion.html.twig' %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- header -->
                {% include 'header.html.twig' %}
                <!-- End of header -->


                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="row">
                        <!-- Content Column -->
                        <div class="col-lg-12">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">{% trans %}Advanced Search{% endtrans %}</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    {% form_theme formfilter 'bootstrap_5_horizontal_layout.html.twig' %}
                                    {{ form_start(formfilter, {'attr': {'id': 'advanced_search', 'class': 'col-md-12'}}) }}
                                    {{ form_widget(formfilter) }}
                                    {{ form_end(formfilter) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Content Column -->
                        <div class="col-lg-12">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">{% trans %}Affiliate Users{% endtrans %}</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div id="table_users"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
    </div>
    {% include 'footer.html.twig' %}
    </div>
    <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    </body>
    <script>
        var responsables = '{{responsables|raw}}';
    </script>
    <script src="/js/common.js" type="application/javascript"></script>
    <script src="/js/users.js" type="application/javascript"></script>
{% endblock %}
